/* The CSS code provided is a stylesheet that defines the styles for a web page. Here is a breakdown of
what each section does: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}


@font-face {
    font-family: regular;
    src: url(./GeneralSans-Regular.otf);
}


@font-face {
    font-family: mediumm;
    src: url(./GeneralSans-Medium.otf);
}



html,body{
    width: 100%;
    height: 100%;
    background-color: #000000;

}


#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 1000;
   transition: all cubic-bezier(0.19, 1 , 0.22 , 1) 1s;
   
}



#main{
    width: 100%;
    position: relative;
}


#home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #000000;
    color: white;

}


   #nav{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    position: fixed;
    z-index: 1000;

  }

  #nav {
    font-family: regular;

  }

  #nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5vmax;
    text-transform: capitalize;
    font-weight: 500;
  }

  #nav h3 {
    text-transform: uppercase;
    font-size: 1vmax;
  }


  .bounding {
    width: fit-content;
    /* background-color: red; */
    overflow: hidden;
  }

  .bounding .boundingelem{
    transform: translateY(100%);
  }



  #home #heading  {
    margin-top:120px;
  }
 
#heading h1 {
    font-size: 10vw;
    font-family: regular;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    opacity: .7;
    margin-left: 3vw;
}


#heading #secondh1{
    margin-left: 17vw;
}

#heading .blocktext {
    width: fit-content;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: end;

}

.blocktext h5{
    text-align: center;
    font-family: regular;
    text-transform: uppercase;
    font-size: 1.5vmax;
}


#iconsheading {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 3vw;
}

.bounding h4 {
    font-family: regular;
    color: white;
    font-size: 1.5vmax;
    margin-bottom: 1vmax;
    text-transform: uppercase;
    position: relative;
    /* top: 10px; */
    /* transform: translateY(100%); */
    opacity: 0;

}

#footerheading {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    margin-top: 3vw;
}

#footerheading h3 {
    font-family: regular;
    text-transform: uppercase;
    font-size: 1.5vmax;

}

#footerheading #icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#icons .icon {
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 50%;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}

#icons .icon i {
    color: black;
}

#page2{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    position: relative;
    padding: 0 4vw;
    padding-top: 5vw;
}

#page2 .elem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: mediumm;
    padding: 3vw 0vw;
    border-top: 1px solid #888;
    position: relative;
    overflow: hidden;
}

#page2 .elem h2 {
    font-size: 7vw;
    text-transform: uppercase;
    opacity: .7;
}


.elem h5{
    font-size: 1.3vw;
    font-family: regular;
    opacity: .7;
}


.elem:nth-last-child(1){
    border-bottom: 1px solid #888;

}


.elem img {
    position: absolute;
    z-index: 999;
    height: 100%;
   opacity: 0;
}
#page3{
    width: 100%;
  min-height: 130vh;
    position: relative;
    background-color: #000000;
    
}
#page3 #top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    padding-left: 18vw;
    padding-top: 10vw;
}

#page3 img{
     width: 15vw;
     
}



#page3 #text-about h3{
    opacity: .8;
    font-family: regular;
    text-transform: uppercase;
    font-size: 0.9vw;
}

#text-about p {
    font-family: regular;
     font-size: 1.2vw;
     line-height: 1.6;
     margin-top: 10px;
}


#text-about button{
    border: 2px solid #888;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    padding: 0.5vw 1.8vw;
    text-transform: capitalize;
    font-family: regular;
    font-size: 1vw;
    margin-top: 10px;
}


#page3 #big-heading {
    position: relative;
   top: 145px;
   transition: all cubic-bezier(0.19, 1 , 0.22 , 1) 1s;
   left: 35px;
}

#big-heading h3 {
    font-family: regular;
    font-size: 0.8vw;
    opacity: .8;
    text-transform: uppercase;

}

#big-heading h2 {
    font-family: regular;
    font-size: 1.1vw;
    text-transform: uppercase;
    margin-top: 5px;

}


#page3 #about-footer {
    width: 100vw;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 2vw 2.4vw;
    transition: all cubic-bezier(0.19, 1 , 0.22 , 1) 1s;
    opacity: 0;
}

#page3 #about-footer #part1{
    display: flex;
    align-items: center;
    gap: 30px;
}


#page3 #about-footer #part1  p {
    font-size: 1vw;
    font-family: regular;
    text-transform: uppercase;
    font-weight: bold;
}

#page3 #about-footer #part2 {
    display: flex;
    align-items: center;
    gap: 37px;
}

#page3 #about-footer #part2 h3 
{
    font-family: regular;
    text-transform: uppercase;
    font-size: 1vw;
}


@media (max-width: 600px) {

    #nav{
        padding: 2vw 6vw;
      }
    
      #nav {
        font-family: regular;
    
      }
    
      #nav a {
        text-decoration: none;
        color: white;
        font-size: 2.2vw;
        text-transform: capitalize;
        font-weight: 500;
      }
    
      #nav h3 {
        text-transform: uppercase;
        font-size: 2vw
      }


      #home #heading  {
        margin-top:150px;
      }
     
    #heading h1 {
        margin-left: 6vw;
    }

    #heading .blocktext {
        gap: 17vw;
    }
    
    .blocktext h5{
        font-size: 3vw;
    }
    
    
    #iconsheading {
        padding-right: 4vw;
    }
    
    .bounding h4 {
        font-family: regular;
        color: white;
        font-size: 2vw;
        margin-bottom: 2vw;
        text-transform: uppercase;
        position: relative;
        /* top: 10px; */
        /* transform: translateY(100%); */
        opacity: 0;
    
    }


     
    #footerheading {
        margin-top: 30vw;
        padding: 0 6vw;
    }


    #page2{
        width: 100%;
        min-height: 50vh;
        background-color: #000000;
        /* background-color: rebeccapurple; */
        position: relative;
        padding: 0 6vw;  
    }

    .elem{
        overflow: hidden;
    }
    .elem h2{
        font-size: 3,5vw;
        /* color: red; */
    }

    .elem h5{
        font-size: 3vw;
    }

    #page3 {
       height: 60vh;
       /* background-color: red; */
       padding: 0;
       /* padding-bottom: 5vw; */
    }

    #page3 #top{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */
        /* justify-content: center; */
        gap: 13vw;
        /* text-align: center; */
        padding-right: 15vw;
    }
    
    #page3 img{
         width: 16vw;
    }
    
   
    #page3 #top h3{
        font-size: 5vw;
        opacity: 0.8;
    }

    #page3 #top p {
        margin-top: 1.5vw;
        font-size: 2vw;
    }

    #page3 #top #text-about button{
        padding: 1.2vw 2.2vw;
        font-size: 2vw;
    }

    #page3 #big-heading {
        display: none;
    }


    #page3 #about-footer {
        width: 100vw;
        position: relative;
          top: 40px;
        display: flex;
        justify-content: space-between;
        padding: 4vw 5vw;
        transition: all cubic-bezier(0.19, 1 , 0.22 , 1) 1s;
        opacity: 1;
    }
    
    #page3 #about-footer #part1{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    
    #page3 #about-footer #part1  p {
        font-size: 2vw;
        font-family: regular;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    
    #page3 #about-footer #part2 {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    #page3 #about-footer #part2 h3 
    {
        font-family: regular;
        text-transform: uppercase;
        font-size: 1.5vw;
    }
}

